:host {
  header {
    height: 34px;
    background-color: antiquewhite;
    div {
      padding-top: 7px;
      a {
        padding: 5px 10px;
        color: blue;
        text-decoration: none;
        &.top-route.active {
          color: red;
        }
      }
    }
  }
  main {
    margin: 8px;
  }
  footer {
    background-color: antiquewhite;
  }
}
