:host {
  header {
    background-color: antiquewhite;
    a {
      padding: 5px 10px;
    }
  }
  main {
    background-color: lightgray;
    border: 1px solid green;
  }
  footer {
    background-color: antiquewhite;
  }
}
